doctype
html
  meta(charset="UTF-8")
  meta(name="viewport", content="initial-scale=1, maximum-scale=1")
  block title
    title µVoice
  link(rel='stylesheet', href='main.css')
body.uV
  #uv-titlebar
    block titlebar-content
    .titlebar-buttons
      button#minimize-btn(tabindex='-1'): .material-icons remove
      button#maximize-btn(tabindex='-1'): .material-icons fullscreen
      button#close-btn(tabindex='-1'): .material-icons close
  img#uv-logo(src='images/uvlogo.svg', draggable="false")
  #uv-main-sidebar.ui.sidebar.inverted.vertical.menu
    block sidebar-items
      a.item.sbheader &nbsp;
      a.item test
      a.item(href='') Reload µVoice
  #uv-main-content.pusher
    block content
  #uv-overlay
  script.
    if(window && window.process && window.process.type && process.versions.electron) {
      const ElectronRuntime = require('../app/runtimes/electron');
      window.runtime = new ElectronRuntime();
    }
  script(src='app.js')
  script(src='js/libs.js')
  block scripts