doctype
html
  meta(charset="UTF-8")
  block title
    title µVoice
  link(rel='stylesheet', href='main.css')
body
  #uv-main-sidebar.ui.sidebar.inverted.vertical.menu
    a.item.sbheader µVoice
    block sidebar-items
      a.item test
  #uv-titlebar
    block titlebar-content
    .titlebar-buttons
      button#minimize-btn(tabindex='-1'): .material-icons remove
      button#maximize-btn(tabindex='-1'): .material-icons fullscreen
      button#close-btn(tabindex='-1'): .material-icons close
  #uv-main-content.pusher
    block content
  #uv-overlay
  script.
    if(window && window.process && window.process.type && process.versions.electron) {
      require('coffee-script/register');
      const ElectronRuntime = require('../runtimes/electron');
      window.runtime = new ElectronRuntime();
      window.runtime.init();
    }
  script(src='main.js')
  script(src='../assets/scripts/semantic.js')
  block scripts