.uv-toolbar
  button.active: .material-icons select_all
  button: .material-icons queue
  button: .material-icons create
  .separator
  button: .material-icons play_arrow
  button: .material-icons stop
  button: .material-icons replay
  button: .material-icons skip_previous
  .separator
  span 0:00:00
  .separator
  button: .material-icons skip_next
  .separator
  button: .material-icons volume_down
  button: .material-icons slow_motion_video